{% extends 'layout.html' %}
{% block container %}
<form action="{% url 'order_order' %}" method="POST">
    {% csrf_token %}
    <h1>장바구니</h1>
    <table>
    <tr>
        <td>상품ID</td>
        <td>상품명</td>
        <td>갯수</td>
        <td>선택</td>
        <td>삭제</td>
    </tr>
    {% for cart in request.user.userinfo.cart.all %}
        <tr>
            <td>{{ cart.product.id }}</td>
            <td>{{ cart.product.name }}</td>
            <td><input type="number" value="{{ cart.count }}"></td>
            <td><input type="checkbox" name="cart" value="{{ cart.id }}" checked></td>
            <td><button type="button">삭제</button></td>
        </tr>
    {% endfor %}

    </table>

    <button type="submit">선택한 상품 주문하기</button>
</form>
{% endblock %}